/* GENERAL */
body {
    color: #fff;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    background-color: #1c0c2a;
}

.clear-fix {
    overflow: auto;
}

.work-entry {
    display: none;
}

.education-entry {
    display: none;
}

.initial-padding {
    padding: initial;
}

a {
    color: #fff;
    text-decoration: none !important;
    margin-top: 10px;
    display: block;
    font-weight: 700;
}

.padding-sides {
    padding-left: 3vw;
    padding-right: 3vw;
}

.padding-none {
    padding: 0;
}

span {
    padding: 5px;
}

.hidden {
    display: none;
}

.line-thick {
    background-color: #fff;
    height: 3px;
}

.inline-elements {
    display: inline-flex;
}

.center-content {
    padding: 1% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    padding: 10px;
    width: 200px;
}

.education-image {
    /* width: 200px; */
    width: 100%;
    float: right;
    height: auto;
    background-color: #FFF;
    margin: 10px;
}

.expand-hide {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border: 2px solid #FFF;
    border-radius: 100%;
}

.expand-hide-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expand-hide i {
    transition: transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
}

.expand-hide i:nth-child(n) {
    transition: transform 1.45s cubic-bezier(.43,.77,.15,1.5),margin-top .3s ease;
    transition-property: transform, margin-top;
    transition-duration: 1.45s, 0.3s;
    transition-timing-function: cubic-bezier(0.43, 0.77, 0.15, 1.5), ease;
    transition-delay: initial, initial;
}

.expand-hide i:nth-child(even) {
    transform: rotate(90deg);
}

.expand-hide.rotate i:nth-child(2) {
    transform: rotate(360deg);
    margin-top: -1px;
}

.expand-hide i:nth-child(odd) {
    margin-top: 20px;
}

/* GRID CSS */
.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto;
    border: 1px solid red;
}

.grid-item {
    /* animation: item-slide 5s cubic-bezier(.43,.77,.15,1.5); */  
}

.grid-image {
    max-width: 100%;
}

/* FLEXBOX */
.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.flex-box-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-end a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2vw;
    font-size: 16px;
    padding: 5px;
}

/* PORTFOLIO PROJECTS */
.project-entry {
    padding: 0 5%;
    display: none;
}

.project-image {
    max-height: 400px;
    width: auto;
}

.current {
    display: block;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    /* float: left; */
}

.location-text {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

/* ANIMATION */
@keyframes item-slide {
    from {
        width: 90%;
        height: 90%;
        background: red;
        -webkit-transition: width 2s, height 2s, 
        -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
    }
    
    to {
        width: auto;
        height: auto;
        -webkit-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg);
    }
}

@keyframes name-rotation {
    from { 
        transition: transform;
    }
    
    to {
        -webkit-transform: rotateX(150deg); /* Safari */
        transform: rotateX(360deg);
    }    
}

#typedtext {
    /* font-family: 'Waiting for the Sunrise', cursive;  */
    /* font-size:22px; 
    margin: 30px 50px; 
    letter-spacing: 6px; 
    max-width: 400px; */
    font-size: 15px;
    margin: 20px 40px;
    letter-spacing: 6px;
    max-width : 400px;
}

/* NAVIGATION */
nav {
    display: flex;
    align-items: center;
}

.nav-name {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 10px;
    -webkit-animation: name-rotation 2s ease-in-out 1.2s; /* Safari 4.0 - 8.0 */
    animation: name-rotation 2s ease-in-out 1.2s;
}

.nav-role {
    font-size: 15px;
    letter-spacing: 0.4px;
    margin-bottom: 0;
    -webkit-animation: name-rotation 2s ease-in-out; /* Safari 4.0 - 8.0 */
    animation: name-rotation 2s ease-in-out;
}

.nav-links {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9991;
    position: absolute;
    background-color: #200c33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 20px;
    font-size: 25px;
}

.nav-links a:hover {
    color: #fff;
    border: 1px solid #fff;
    padding: 19px;
}

.burger {
    width: 65px;
    height: 45px;
    right: 83px;
    top: 85px;
    z-index: 9998;
    cursor: pointer;
    padding: 5px 4px;
    background-color: transparent;
}

.burger i {
    display: block;
    width: 45px;
    height: 2px;
    background-color: #fff;
    margin: 10px;
}

.burger i:nth-child(n) {
    transition: transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
    transition-property: transform, background;
    transition-duration: 0.45s, 0.3s;
    transition-timing-function: cubic-bezier(0.43, 0.77, 0.15, 1.5), ease;
    transition-delay: initial, initial;
}

.burger.st-1 i:nth-child(1) {
    transform: translate3d(0,9px,0);
}

.burger.st-1 i:nth-child(2) {
    opacity: 0;
}

.burger.st-1 i:nth-child(3) {
    transform: translate3d(0,-9px,0);
}


.burger.st-2 i:nth-child(1) {
    transform: translate3d(0,10px,0) rotate(45deg) scale(1.5);
}

.burger.st-2 i:nth-child(3) {
    transform: translate3d(0,-13px,0) rotate(135deg) scale(1.5);
}

/* SKILLS TAG */
.skill-tag {
    transition: transform .45s cubic-bezier(.43,.77,.15,1.5);
    max-width: 100px;
    background-color: #fff;
    margin: 3px;
    padding: 1px;
    text-align: center;
}

.skill-tag p {
    font-size: 11px;
    color: #1c0c2a;
    margin: 0;
    /* line-height: 21px; */
}

.skill-tag-image {
    max-width: 40px;
}

/* SOCIAL LINKS */

.social-links {
    z-index: 1001;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 55px;
}

.social-links ul {
    padding: 0;
    margin: 0;
}

.social-links ul li a {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 55px;
    margin-top: 0;
    margin-right: -20px;
    transition: transform 500ms cubic-bezier(.05,.65,.18,1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.05, 0.65, 0.18, 1);
    transition-delay: initial;
}

.social-links ul li a:hover {
    -moz-transform: translate3d(-20px,0,0);
    -ms-transform: translate3d(-20px,0,0);
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);   
} 

.social-img {
    height: 48px;
    width: 48px;
    padding: 5px;
}

.social-lk {
    background-color: #3e3eaa;
}

.social-fb {
    background-color: #252592;
}

.social-gh {
    background-color: #46465c;
}

#lets-connect {
    text-align: center;
}

/* MAP */
#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media only screen and (max-width: 1024px) {
    .location-text {
      display: block;
    }
}

@media only screen and (max-width:900px) {

    .location-text {
      display: block;
    }
}

@media only screen and (max-width: 750px) {

    .project-image {
        /* max-height: 400px; */
        width: auto;
    }

    #map {
        display: block;
        height: 100%;
        margin: 0 5%;
    }

    #mapDiv {
        height: 250px;
        width: 100%;
        padding-bottom: 10%;
    }

    .location-text {
      display: none;
    }
}

@media only screen and (min-width: 750px) {
    #typedtext {
        /* font-family: 'Waiting for the Sunrise', cursive;  */
        font-size:22px; 
        margin: 30px 50px; 
        letter-spacing: 6px; 
        /* font-weight: bold; */
        max-width: 400px;
    }
    
    .skill-tag {
        background-color: #1c0c2a;
    }
    
    .skill-tag p {
        font-size: 14px;
        color: #fff;
        line-height: 21px;
    }

    .skill-tag:nth-child(even) {
        transform: rotate(3deg);
        border-top: 2px solid #fff;
    }
    
    .skill-tag:nth-child(even):hover {
        transform: rotate(-3deg);
    }
    
    .skill-tag:nth-child(odd) {
        transform: rotate(-3deg);
        border-bottom: 2px solid #fff;
    }
    
    .skill-tag:nth-child(odd):hover {
        transform: rotate(3deg);
    }
}
